<%- include ('./partials/header.ejs') %>
  <body>
    <header>
      <nav>
        <div class="logo"><a href="/">Bblog.</a></div>
        
      </nav>
    </header>
    <div class="grid-container">
          <section class="incorrect">
            <div class="incorrect__text">
                <h1 id="elementsecond"></h1>
              </div>
          </section>
    </div>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="/assets/js/404.js"></script>
<%- include ('./partials/footer.ejs') %>