
.popup-contact {
    z-index: 1;
      position: fixed;
      transform: translate(-50%, -110%);
      /* top: 30%; */
      left: 50%;
      display:flex;
      justify-content: center;
      align-items: center;
      transition: .8s;
      visibility:hidden;
      opacity: 0;
  }

  .popup-contact.active {
      
    /* top:50%; */
    transform: translate(-50%, -90%);
    transition: .8s;
    visibility: visible;
    opacity: 1;
  }

  .feature-contact {
    z-index: 15;
      position: relative;
      display: block;
      flex-direction: column;
      justify-content: center;
      width: 720px;
      height: 541px;
      border-radius: 25px ;
      box-shadow: -2px 2px 24px 0px rgba(0,0,0,0.22);
-webkit-box-shadow: -2px 2px 24px 0px rgba(0,0,0,0.42);
-moz-box-shadow: -2px 2px 24px 0px rgba(0,0,0,0.22);
      align-self: center;
      bottom: 2px;
      background: #fff;
      opacity: 1;
      
      transition: .5s;
  }

  #contact-close {
    font-size: 1.5rem;
    position: absolute;
    top: 5%; 
    right: 8%;
    cursor: pointer;
    z-index: 16;
  }

  .feature-contact {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .email-contact {
    align-self: center;
    margin: 12px 16px 12px 16px;
    height: 45px;
    width: 250px;
    border-radius: 25px;
    border: 1px solid lightgrey;
  }

  .contact-textarea {
    align-self: center;
    margin: 0 16px 12px 16px;
    height: 250px;
    width: 450px;
    border-radius: 25px;
    border: 1px solid lightgrey;
    
  }

  .contact-textarea textarea {
    color: 333;
    border: none;
    outline: none;
    letter-spacing: 0.5px;
    position: relative;
    top: 10px;
    left:20px;
    word-wrap: break-word;
    width: 415px;
    height: 225px;
    resize: none;
  }



  .email-contact input {
    color: 333;
    border: none;
    outline: none;
    
  }

  .email-contact input, .email-contact i {
    letter-spacing: 0.5px;
    position: relative;
    top: 10px;
    left:20px;
  }
  

  .btn-contact {
    align-self: center;
    margin: 0 16px 12px 16px;
    width: 415px;
    height: 45px;
    border-radius: 25px;
    background-color: #000;
    color:white;
    letter-spacing: .5px;
    border: 0;
    transition: .5s;
    cursor: pointer;
  }
  .btn-contact:hover {
    background-color: #f0cea0 ;
    color: black;
    transition: .5s;
    font-weight: bold;
    border-radius: 0 25px 0 25px;
  }


  @media screen and (max-width: 818px) {
    .popup-contact {
      display: none;
    }
  }

  .popup-email-contact i {
    color: lightgrey;
    font-size: 1.2rem;
  }


  .popup-email-contact {
    align-self: center;
    margin: 12px 16px 12px 16px;
    height: 45px;
    width: 250px;
    border-radius: 25px;
    border: 1px solid lightgrey;
  }

  .popup-email-contact input {
    border:0;
    outline:0;
  }


  .popup-email-contact input, .popup-email-contact i {
    letter-spacing: 0.5px;
    position: relative;
    top: 10px;
    left:20px;
  }

  .popup-email-contact.weak {
    border: 2px solid red;
  }

  .popup-email-contact.strong {
    border: 2px solid green;
  }