.popup-container {
    z-index: 1;
      position: fixed;
      transform: translate(-50%, -110%);
      /* top: 30%; */
      left: 50%;
      display:flex;
      justify-content: center;
      align-items: center;
      transition: .8s;
      visibility: 0;
      opacity: 0;
      
    }
  
    .popup-container.active {
      
      /* top:50%; */
      transform: translate(-50%, -90%);
      transition: .8s;
      visibility: 100%;
      opacity: 100%;
    }
    
    .popup-modal {
      z-index: 15;
      position: relative;
      display: none;
      flex-direction: column;
      justify-content: center;
  
      width: 360px;
      height: 541px;
      border-radius: 0 25px 25px 0 ;
      border: 1px solid #000;
      align-self: center;
      bottom: 2px;
      background: #fff;
      opacity: 0;
      
      transition: .5s;
    }

    .popup-modal.active {
      display: flex;
      opacity: 1;
      transition: .5s;
     
    }
    
  
    .popup-image {
      display: none;
      opacity: 0;
      transition: .5s;
    }
    .popup-image.active {
      display: block;
      opacity: 1;
      transition: .5s;
    }
  
    
  
    
    .popup-image video {
      border-radius: 25px 0 0 25px;
    }
    
    .popup-modal i {
      font-size: 1.5rem;
      position: absolute;
      top: 5%; 
      right: 12%;
      cursor: pointer;
      z-index: 10;
    }
    
    .popup-modal p:nth-child(2) {
      margin-bottom: 1.5rem;
    }
    
    .popup-modal p:nth-child(2) span {
      cursor: pointer;
      font-weight: 600;
    }
    
    .popup-modal p:nth-child(2) span:hover {
      color: #0f0f0f;
    }
    
    .popup-password {
      align-self: center;
      margin: 0 16px 12px 16px;
      height: 45px;
      width: 250px;
      border-radius: 25px;
      border: 1px solid lightgrey;
    }
    
    .popup-email {
      align-self: center;
      margin: 12px 16px 12px 16px;
      height: 45px;
      width: 250px;
      border-radius: 25px;
      border: 1px solid lightgrey;
    }
    
    .popup-name {
      display: none;
      align-self: center;
      margin: 16px 16px 0 16px;
      height: 45px;
      width: 250px;
      border-radius: 25px;
      border: 1px solid lightgrey;
    }
    
    .popup-name.active {
      display: block;
      animation: fade-in .7s ease-in;
     
    }

    .popup-email input {
        color: 333;
        border: none;
        outline: none;
      }
      
      .popup-name input {
        color: 333;
        border: none;
        outline: none;
      }
      
      .popup-password input {
        color: 333;
        border: none;
        outline: none;
      }
      
      .popup-email i {
        color: lightgrey;
        font-size: 1.2rem;
      }
      
      .popup-name i {
        color: lightgrey;
        font-size: 1.2rem;
      }
      
      .popup-password i {
        color: lightgrey;
        font-size: 1.2rem;
      }
      
      .popup-email input, .popup-email i {
        letter-spacing: 0.5px;
        position: relative;
        top: 10px;
        left:20px;
      }
      
      .popup-name i, .popup-name input {
        letter-spacing: 0.5px;
        position: relative;
        top: 10px;
        left:20px;
      }
      
      .popup-password input, .popup-password i {
        letter-spacing: 0.5px;
        position: relative;
        top: 10px;
        left:20px;
      }
      
      .popup-modal h3, .popup-modal h4, .popup-modal-register h3, .popup-modal-register h4 {
        text-align: center;
      }
      
      .popup-modal p {
        align-self: center;
        color: grey;
        
      }
      
      .popup-modal h3 {
        font-size: 1.5rem;
        font-weight: 800;
        padding-bottom: 4px;
      }
      
      .popup-modal h4 {
        font-weight: 400;
        font-size: 1.1rem;
        padding-bottom: 4px;
      }
      
      .btn-login {
        align-self: center;
        margin: 0 16px 12px 16px;
        width: 250px;
        height: 45px;
        border-radius: 25px;
        background-color: #000;
        color:white;
        letter-spacing: .5px;
        border: 0;
        transition: .5s;
        cursor: pointer;
        
      }
      .btn-login:hover {
        background-color: #f0cea0 ;
        color: black;
        transition: .5s;
        font-weight: bold;
        border-radius: 0 25px 0 25px;
        
      }

      
    @keyframes fade-in {
      0% {
        opacity: 0;
        transform: translate(0%, -50%);
      }
      100% {
        opacity: 1;
        transform: translate(0%, 0%);
      }
    }

    .popup-password.weak  {
      border: 2px solid red;
    }

    .popup-password.medium {
      border: 2px solid rgb(244, 177, 10);
    }
    .popup-password.strong {
      border: 2px solid green;
    }

    .popup-email.weak {
      border: 2px solid red;
    }

    .popup-email.strong {
      border: 2px solid green;
    }

    #user-avatar-example {
      position: relative;
      left: 44%;
      right: 0;
      cursor: pointer;
    }



    /* tablet & mobile */
   @media screen and (max-width: 818px) {
    .popup-modal {
       /* Adjust the height for smaller screens */
      border-radius: 25px; /* Adjust the border-radius for smaller screens */
       /* Adjust the position for smaller screens */
      top: 0;
      width: 300px;
      height: 500px;
      
    }

    /* pointer events nav */

    .popup-image {
      display: none;
    }

    .popup-image video {
      display: none;
    }

    .popup-container {
      
      transform: translate(-50%, -285%);
      left: 50%;
      position: fixed;
     
      
     
      
      
      /* Adjust the vertical position for smaller screens */
    }

    .popup-modal p {
      margin-bottom: -12px;
    }
    .popup-container.active {
      transform: translate(-50%, -275%);
      
    }
   
   }

   
   
 

 @media screen and (max-width: 460px) {
  .popup-image {
    display: none;
  }
  .popup-image video {
    display: none;
  }

  #user-avatar-example {
    left: 42.5%;
  }
 }